@font-face {
  font-family: Bahnschrift;
  src: url("./font/bahnschrift.ttf");
}
@font-face {
  font-family: Enriqueta;
  src: url("./font/enriqueta.ttf");
}
@font-face {
  font-family: FiraSans;
  src: url("./font/fira-sans.ttf");
}
@font-face {
  font-family: FiraCode;
  src: url("./font/fira-code.ttf");
}
html {
  margin: 0;
  padding: 0;
  text-align: left;
  text-rendering: optimizeLegibility;
}
body {
  font-family: FiraSans;
  font-size: 1rem;
  padding: 2rem;
  margin: auto;
  background: #eceff4;
  color: #2e3440;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  text-align: left;
  font-family: Bahnschrift;
}
h1 span,
h2 span,
h3 span,
h4 span,
h5 span {
  color: inherit;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a {
  color: inherit;
  text-decoration: none;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h1 a:active,
h2 a:active,
h3 a:active,
h4 a:active,
h5 a:active {
  text-decoration: underline;
}
h1 {
  color: #3b4252;
  font-size: 1.75rem;
}
h2 {
  color: #434c5e;
  font-size: 1.50rem;
}
h3 {
  color: #4c566a;
  font-size: 1.25rem;
}
a {
  color: #bf616a;
}
a:hover,
a:active {
  color: #d08770;
}
hr {
  border: none;
  height: 1px;
  background-color: #8fbcbb;
}
img {
  max-width: 100%;
}
aside img {
  width: 7.5rem;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
}
aside img:hover {
  -webkit-transform: rotate(240deg);
  transform: rotate(240deg);
}
aside ul {
  list-style-type: none;
}
main article div.article_listing {
  margin: 3rem 0 3rem 0;
}
main article div.article_listing h1 {
  margin-bottom: 0;
}
main article div.meta {
  font-size: 0.75rem;
  color: #5e81ac;
  display: inline-block;
  width: 100%;
}
main article div.meta div.spread {
  float: left;
}
main article blockquote {
  background-color: #d8dee9;
  color: #434c5e;
  padding: 1rem;
  margin: 1rem 0 1rem 0;
  font-family: Enriqueta, serif;
}
main article blockquote p.annotation {
  font-weight: bold;
}
main article code {
  font-family: FiraCode, monospace;
}
main article code.inline {
  display: inline;
  padding: 0.25rem;
  font-size: 0.85rem;
}
main footer div.paginations {
  display: inline-block;
  width: 100%;
}
main footer div.paginations a.pagination_older {
  float: left;
}
main footer div.paginations a.pagination_newer {
  float: right;
}
main div.credits {
  color: #5e81ac;
  font-size: 0.65rem;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table th,
table td {
  border-style: solid;
  border-width: thin;
  border-color: #d8dee9;
}
table th {
  color: #4c566a;
}
@media screen and (min-width:768px) {
  main {
    position: absolute;
    top: 0;
    right: 32%;
    max-width: 750px;
    margin: 0 0 0 1rem;
  }
  main header {
    margin: 2rem 0 2rem 0;
  }
  main footer {
    margin: 2rem 0 0 0;
  }
  main article div.meta div.spread.right {
    float: right;
  }
  aside {
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
    height: 100%;
    margin: 2rem;
  }
  div.gallery {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 0.7rem;
  }
}