{% extends "base.html" %}

{% block head %}
    <meta name="keywords"
          content="{{ article.tags|join(', ') }}">
{% endblock %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block content %}
    <article>
        <h1><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>

        <div class="meta-details">
            <div>
                <p>
                    {{ TUNDRA_AUTHOR_S }}:
                    {% for author in article.authors %}
                        <a href="{{ SITEURL }}/{{ author.url }}">
                            {{ author }}
                        </a>
                        {% if not loop.last %}
                                         ,
                        {% endif %}
                    {% endfor %}
                </p>

                <p>
                    {{ TUNDRA_CATEGORY }}:
                    {% for category in article.category.ancestors or [article.category] %}
                        <a href="{{ SITEURL }}/{{ category.url }}">
                            {{ category.shortname or category | lower }}
                        </a>
                        {{ ' &gt;' if not loop.last }}
                    {% endfor %}
                </p>

                <p>
                    {% if article.tags %}
                        {{ TUNDRA_TAGS }}:

                        {% for tag in article.tags %}

                            <a href="{{ SITEURL }}/{{ tag.url }}">
                                {{ tag | lower }}
                            </a>

                            {% if not loop.last %}
                                         ,
                            {% endif %}

                        {% endfor %}

                    {% endif %}
                </p>


            </div>

            <div>
                <p>{{ TUNDRA_POSTED }}: {{ article.locale_date }}</p>
                <p>{{ TUNDRA_MODIFIED }}: {{ article.locale_modified }}</p>
            </div>

        </div>

        {{ article.content }}

        {% if article.photo_gallery %}
            {% for title, gallery in article.photo_gallery %}

                <h3>{{ TUNDRA_GALLERY }}: {{ title }}</h3>
                <div class="gallery">
                    {% for name, photo, thumb, exif, caption in gallery %}
                        <figure>
                            <a href="{{ SITEURL }}/{{ photo }}">
                                <img src="{{ SITEURL }}/{{ thumb }}">
                            </a>
                            <figcaption>
                                <a href="{{ SITEURL }}/{{ photo }}">
                                    <em>{{ name }}</em>
                                </a>
                                {% if caption %}
                                    : {{ caption }}
                                {% endif %}
                            </figcaption>
                        </figure>
                    {% endfor %}
                </div>
            {% endfor %}
        {% endif %}


        {% if article.prev_article or article.next_article %}
            <div class="meta-details">

                {% if article.prev_article %}
                    <div>
                        <p>
                            &lt;
                            {{ TUNDRA_PREVIOUS }}
                            <a href="{{ SITEURL }}/{{ article.prev_article.url }}">
                                {{ article.prev_article.title }}
                            </a>
                        </p>
                    </div>
                {% endif %}

                {% if article.next_article %}
                    <div>
                        <p>
                            {{ TUNDRA_NEXT }}
                            <a href="{{ SITEURL }}/{{ article.next_article.url }}">
                                {{ article.next_article.title }}
                            </a>
                            &gt;
                        </p>
                    </div>
                {% endif %}

            </div>
        {% endif %}

    </article>
{% endblock %}
