{% extends "index.html" %}
{% block title %}

{{ TUNDRA_SEPARATION_STR }} {{ TUNDRA_AUTHOR_S }}: {{ author }}

{% endblock %}

{% block head %}

{% if AUTHOR_FEED_ATOM %}
<link href="{{ FEED_DOMAIN }}/{{ AUTHOR_FEED_ATOM | replace("{slug}", author.slug) }}" type="application/atom+xml"
      rel="alternate" title="{{ SITENAME }} {{ author }} Author Atom"/>
{% endif %}

{% if AUTHOR_FEED_RSS %}
<link href="{{ FEED_DOMAIN }}/{{ AUTHOR_FEED_RSS | replace("{slug}", author.slug) }}" type="application/rss+xml"
      rel="alternate" title="{{ SITENAME }} {{ author }} Author RSS"/>
{% endif %}

{% endblock %}

{% block header %}

&gt; {{ TUNDRA_AUTHOR }}: {{ author }}

<h1> {{ TUNDRA_AUTHOR }}: {{ author }} </h1>

{% if author.page %}

{{ author.page.content }}

{% endif %}

{% endblock %}
