<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta name="author"
          content="{{ AUTHOR }}">
    <meta name="description"
          content="Posts and writings by {{ AUTHOR }}">

    <link rel="stylesheet"
          type="text/css"
          href="{{ SITEURL }}/theme/css/style.css">

    <script src="{{ SITEURL }}/assets/javascript/load-script.js"></script>
    <script src="{{ SITEURL }}/assets/javascript/load-file-text-element.js"></script>

    {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}"
              type="application/atom+xml"
              rel="alternate"
              title="{{ SITENAME }} Atom"/>
    {% endif %}

    {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}"
              type="application/rss+xml"
              rel="alternate"
              title="{{ SITENAME }} RSS"/>
    {% endif %}

    {% block head %}
    {% endblock %}

    <title>
        {{ SITENAME }}
        {{ TUNDRA_SEPARATION_STR }}
        {% block title %}
        {% endblock %}
    </title>

</head>

<body>
<main>
    <header>
        <a href="{{ SITEURL }}">{{ TUNDRA_HOME }}</a> {{ TUNDRA_SEPARATION_STR }}<a
            href="{{ SITEURL }}/archives.html">{{ TUNDRA_ARCHIVES }}</a>

        {% if FEED_ALL_ATOM %}

            {{ TUNDRA_SEPARATION_STR }}
            <a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}">
                {{ TUNDRA_ATOM }}
            </a>

        {% endif %}

        {% if FEED_ALL_RSS %}

            {{ TUNDRA_SEPARATION_STR }}
            <a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}">
                {{ TUNDRA_RSS }}
            </a>
        {% endif %}

        {% block header %}
        {% endblock header %}
        <hr>
    </header>

    {% block content %}
    {% endblock %}

    {% block footer %}
    {% endblock %}

    <div class="meta-details">
        <hr>
        <p>&copy; {{ OWNER }}. built using <a href="https://python.org">python</a> and <a href="https://getpelican.com"
                                                                                          target="_blank">pelican</a>.
           theme inspired by <a href="https://nordtheme.com"
                                target="_blank">nord</a>.
            source code <a href="{{ SOURCE_CODE_URL }}"
                           target="_blank">here</a>.
        </p>
    </div>
</main>
<aside>

    {% if USER_LOGO_URL %}
        <a href="{{ SITEURL }}">
                <img src="{{ SITE_URL }}/{{ USER_LOGO_URL }}"
                        alt="logo">
        </a>
    {% endif %}

    <h1 class="site-name">
        <a href="{{ SITEURL }}">
            {{ SITENAME }}
        </a>
    </h1>

    <h4 class="tagline">{{ TAGLINE }}</h4>

    <button id="theme-mode-toggle"></button>

    {% if DISPLAY_PAGES_ON_MENU %}
        <h3>{{ TUNDRA_PAGES }}</h3>
        <ul>
            {% for p in pages %}
                <li>
                    <a href="{{ SITEURL }}/{{ p.url }}">
                        {{ p.title }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <h3> {{ TUNDRA_BLOG }} </h3>
    <ul>
        <li>
            <a href="{{ SITEURL }}/categories">
                {{ TUNDRA_CATEGORIES }} [{{ categories | count }}]
            </a>
        </li>
        <li>
            <a href="{{ SITEURL }}/tags">
                {{ TUNDRA_TAGS }} [{{ tags | count }}]
            </a>
        </li>
    </ul>

    {% if DISPLAY_LINKS_ON_MENU %}
        <h3>{{ TUNDRA_LINKS }}</h3>
        <ul>
            {% for label, name, link in LINK_ITEMS %}
                <li>
                    {{ label }}
                    <a href="{{ link }}"
                       target="_blank">
                        {{ name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if DISPLAY_CATEGORIES_ON_MENU %}
        <h3>{{ TUNDRA_CATEGORIES }}</h3>
        <ul>
            {% for category_name, articles_in_category in categories %}
                <li>
                    <a href="{{ SITEURL }}/{{ category_name.url }}">
                        {{ category_name | lower }} [{{ articles_in_category | count }}]
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <!-- TODO move along bottom edge of sidebar - add icons -->
    {% if DISPLAY_SOCIAL_ON_MENU %}
        <h3>{{ TUNDRA_SOCIAL }}</h3>
        <ul>
            {% for name, link in SOCIAL %}
                <li>
                    <a href="{{ link }}"
                       target="_blank">
                        {{ name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</aside>

<script>

    ;(function() {
        function modeToggle() {
            rootElement.classList.remove(_DARK_MODE_CLASS);
            rootElement.classList.remove(_LIGHT_MODE_CLASS);

            let mode = localStorage.getItem(_THEME_STORAGE_KEY) ?? '';

            if (mode === '') {
                mode = _DARK_MODE_CLASS;
                toggle.innerHTML = `OS / <strong>dark</strong> / light`;
                rootElement.classList.add(_DARK_MODE_CLASS);
            } else if (mode === _DARK_MODE_CLASS) {
                mode = _LIGHT_MODE_CLASS
                toggle.innerHTML = `OS / dark / <strong>light</strong>`;
                rootElement.classList.add(_LIGHT_MODE_CLASS);
            } else if (mode === _LIGHT_MODE_CLASS) {
                mode = _OS_MODE_CLASS
                toggle.innerHTML = `<strong>OS</strong> / dark / light`;
            }
            localStorage.setItem(_THEME_STORAGE_KEY, mode)
        }

        const toggle = document.querySelector("#theme-mode-toggle");
        toggle.innerHTML = `OS / dark / light`;
        toggle.addEventListener("click", modeToggle);

        const  _THEME_STORAGE_KEY = 'theme-mode'
        const  _OS_MODE_CLASS = ''
        const  _DARK_MODE_CLASS = 'dark-mode';
        const  _LIGHT_MODE_CLASS = 'light-mode';

        const rootElement = document.body;
        rootElement.classList.add(localStorage.getItem(_THEME_STORAGE_KEY) ?? '');
    })();

    ;(function() {
        window.counter = 'https://rwev.goatcounter.com/count'

        let script = document.createElement('script');
        script.async = 1;
        script.src = '{{SITEURL}}/assets/javascript/dependencies/goatcounter.js';
        // script.src = '//gc.zgo.at/count.js';
        let ins = document.getElementsByTagName('script')[0];
        ins.parentNode.insertBefore(script, ins)
    })();
</script>

</body>
</html>
