<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta name="author"
          content="{{ AUTHOR }}">
    <meta name="description"
          content="Posts and writings by {{ AUTHOR }}">

    <!-- client-side less
            <link rel="stylesheet/less" type="text/css" href="{{ SITEURL }}/theme/css/style.less">
            <script src="http://cdnjs.cloudflare.com/ajax/libs/less.js/1.7.3/less.min.js" type="text/javascript"></script>
            -->


    <link rel="stylesheet"
          type="text/css"
          href="{{ SITEURL }}/theme/css/style.css">

    <link rel="stylesheet"
          type="text/css"
          href="{{ SITEURL }}/assets/javascript/dependencies/nord-highlightjs.css">
    <script src="{{ SITEURL }}/assets/javascript/dependencies/highlight.pack.js"></script>

    <script src="{{ SITEURL }}/assets/javascript/load-script.js"></script>
    <script src="{{ SITEURL }}/assets/javascript/load-file-text-element.js"></script>

    {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}"
              type="application/atom+xml"
              rel="alternate"
              title="{{ SITENAME }} Atom"/>
    {% endif %}

    {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}"
              type="application/rss+xml"
              rel="alternate"
              title="{{ SITENAME }} RSS"/>
    {% endif %}

    {% block head %}
    {% endblock %}

    <title>
        {{ SITENAME }}
        {{ TUNDRA_SEPARATION_STR }}
        {% block title %}
        {% endblock %}
    </title>

</head>

<body>
<main>
    <header>
        <a href="{{ SITEURL }}">{{ TUNDRA_HOME }}</a> {{ TUNDRA_SEPARATION_STR }}<a
            href="{{ SITEURL }}/archives.html">{{ TUNDRA_ARCHIVES }}</a>

        {% if FEED_ALL_ATOM %}

            {{ TUNDRA_SEPARATION_STR }}
            <a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}">
                {{ TUNDRA_ATOM }}
            </a>

        {% endif %}

        {% if FEED_ALL_RSS %}

            {{ TUNDRA_SEPARATION_STR }}
            <a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}">
                {{ TUNDRA_RSS }}
            </a>
        {% endif %}

        {% block header %}
        {% endblock header %}
        <hr>
    </header>

    {% block content %}
    {% endblock %}

    {% block footer %}
    {% endblock %}

    <div class="credits">
        <hr>
        <p>&copy; {{ OWNER }}. built using <a href="https://python.org">python</a> and <a href="https://getpelican.com"
                                                                                          target="_blank">pelican</a>.
           theme inspired by <a href="https://nordtheme.com"
                                target="_blank">nord</a>.</p>
    </div>
</main>
<aside>
    <a href="{{ SITEURL }}">
        <img src="{{ SITE_URL }}/{{ USER_LOGO_URL }}"
             alt="logo">
    </a>

    <h2>
        <a href="{{ SITEURL }}">
            {{ SITENAME }}
        </a>
    </h2>

    <p>{{ TAGLINE }}</p>

    {% if DISPLAY_PAGES_ON_MENU %}
        <h3>{{ TUNDRA_PAGES }}</h3>
        <ul>
            {% for p in pages %}
                <li>
                    <a href="{{ SITEURL }}/{{ p.url }}">
                        {{ p.title | lower }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <h3> {{ TUNDRA_BLOG }} </h3>
    <ul>
        <li>
            <a href="{{ SITEURL }}/categories">
                {{ TUNDRA_CATEGORIES }} [{{ categories | count }}]
            </a>
        </li>
        <li>
            <a href="{{ SITEURL }}/authors">
                {{ TUNDRA_AUTHORS }} [{{ authors | count }}]
            </a>
        </li>
        <li>
            <a href="{{ SITEURL }}/tags">
                {{ TUNDRA_TAGS }} [{{ tags | count }}]
            </a>
        </li>
    </ul>

    {% if DISPLAY_LINKS_ON_MENU %}
        <h3>{{ TUNDRA_LINKS }}</h3>
        <ul>
            {% for name, link in LINK_ITEMS %}
                <li>
                    <a href="{{ link }}"
                       target="_blank">
                        {{ name | lower }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if DISPLAY_CATEGORIES_ON_MENU %}
        <h3>{{ TUNDRA_CATEGORIES }}</h3>
        <ul>
            {% for category_name, articles_in_category in categories %}
                <li>
                    <a href="{{ SITEURL }}/{{ category_name.url }}">
                        {{ category_name | lower }} [{{ articles_in_category | count }}]
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <!-- TODO move along bottom edge of sidebar - add icons -->
    {% if DISPLAY_SOCIAL_ON_MENU %}
        <h3>{{ TUNDRA_SOCIAL }}</h3>
        <ul>
            {% for name, link in SOCIAL %}
                <li>
                    <a href="{{ link }}"
                       target="_blank">
                        {{ name | lower }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</aside>


</body>
</html>
