{% extends "base.html" %}

{% block title %}
    {{ TAGLINE }}
{% endblock %}

{% block content %}
    {% for article in articles_page.object_list %}
        <article>
            <div class="article-listing">
                <h1>
                    <a href="{{ SITEURL }}/{{ article.url }}">
                        {{ article.title }}
                    </a>
                </h1>

                <div class="meta-details">
                    <p>
                        {{ article.locale_date }}
                        {{ TUNDRA_SEPARATION_STR }}

                        <!-- only show first author and complete categorization for cleanliness -->
                        {{ TUNDRA_AUTHOR }}: {{ article.author }}
                        {{ TUNDRA_SEPARATION_STR }}
                        {{ TUNDRA_CATEGORY }}: {{ article.category }}
                    </p>
                </div>

                <div>
                    {{ article.summary }}
                </div>
            </div>
        </article>
    {% endfor %}
{% endblock %}

{% block footer %}
    <footer>
    </footer>
{% endblock %}
