{% extends "base.html" %}

{% block title %}
{{ page.title }}
{% endblock %}

{% block content %}
<article>
    <h1>
        <a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a>
    </h1>
    <div class="meta-details">
        {% if page.locale_date %}
        <p>{{ TUNDRA_MODIFIED }}: {{ page.locale_date }}</p>
        {% endif %}
    </div>

    {{ page.content }}

</article>
{% endblock %}
