{% extends "base.html" %}

{% block title %}
{{ page.title }}
{% endblock %}

{% block content %}
<article>
    <h1>
        <a href="{{ SITEURL }}/{{ page.url }}">{{ page.title | lower }}</a>
    </h1>
    <div class="meta">
        {% if page.locale_date %}
        <p>{{ TUNDRA_MODIFIED }}: {{ page.locale_date }}</p>
        {% endif %}
    </div>

    {{ page.content }}

    {% if page.photo_gallery %}
    <div class="gallery">
        {% for title, gallery in page.photo_gallery %}
        {% for name, photo, thumb, exif, caption in
        gallery %}
        <a href="{{ SITEURL }}/{{ photo }}"
           title="{{ name }}"
           caption="{{ caption }}">
            <img src="{{ SITEURL }}/{{ thumb }}">
        </a>
        {% endfor %}
        {% endfor %}
    </div>
    {% endif %}

</article>
{% endblock %}
