{% extends "index.html" %}

{% block title %}
{{ TUNDRA_TAG }}: {{ tag | lower }}
{% endblock %}

{% block head %}

{% if TAG_FEED_ATOM %}
<link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|replace("{slug}", tag.slug) }}" type="application/atom+xml"
rel="alternate" title="{{ SITENAME }} {{ tag }} Tag Atom"/>
{% endif %}

{% if TAG_FEED_RSS %}
<link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|replace("{slug}", tag.slug) }}" type="application/rss+xml" rel="alternate"
title="{{ SITENAME }} {{ tag }} Tag RSS"/>
{% endif %}

{% endblock %}

{% block header %}

<h1>{{ TUNDRA_TAG }}&nbsp;: {{ tag | lower }}

    {% if DISPLAY_SUB_FEEDS %}

    {% if TAG_FEED_ATOM %}
    <a href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|replace("{slug}", tag.slug) }}">
    [{{ TUNDRA_ATOM }}]
    </a>
    {% endif %}

    {% if TAG_FEED_RSS %}
    <a href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|replace("{slug}", tag.slug) }}">
    [{{ TUNDRA_RSS }}]
    </a>
    {% endif %}

    {% endif %}
</h1>

{% if tag.page %}
{{ tag.page.content }}
{% endif %}

{% endblock %}
