$nord-0: #2e3440;
$nord-1: #3b4252;
$nord-2: #434c5e;
$nord-3: #4c566a;
$nord-4: #d8dee9;
$nord-5: #e5e9f0;
$nord-6: #eceff4;
$nord-7: #8fbcbb;
$nord-8: #88c0d0;
$nord-9: #81a1c1;
$nord-10: #5e81ac;
$nord-11: #bf616a;
$nord-12: #d08770;
$nord-13: #ebcb8b;
$nord-14: #a3be8c;
$nord-15: #b48ead;

@mixin dark-vars() {
  --bg-1: #{$nord-2};
  --bg-2: #{$nord-1};
  --bg-3: #{$nord-0};

  --fg-1: #{$nord-4};
  --fg-2: #{$nord-5};
  --fg-3: #{$nord-6};

  --pri-1: #{$nord-10};
  --pri-2: #{$nord-9};
  --pri-3: #{$nord-8};

  --acc-1: #{$nord-11};
  --acc-2: #{$nord-12};
  --acc-3: #{$nord-13};
}

@mixin light-vars() {
  --bg-1: #{$nord-6};
  --bg-2: #{$nord-5};
  --bg-3: #{$nord-4};

  --fg-1: #{$nord-2};
  --fg-2: #{$nord-1};
  --fg-3: #{$nord-0};

  --pri-1: #{$nord-8};
  --pri-2: #{$nord-9};
  --pri-3: #{$nord-10};

  --acc-1: #{$nord-13};
  --acc-2: #{$nord-12};
  --acc-3: #{$nord-11};
}

@media (prefers-color-scheme: light) {
  :root {
    @include light-vars;
  }
}
.light-mode {
  @include light-vars;
}

@media (prefers-color-scheme: dark) {
  :root {
    @include dark-vars;
  }
}
.dark-mode {
  @include dark-vars;
}

body {
  color: var(--fg-3);
  background-color: var(--bg-2);
}

h1 {
  color: var(--fg-1);

  &.site-name {
    color: var(--pri-3);
  }
}

h2 {
  color: var(--fg-2);
}

h3 {
  color: var(--fg-3);
}

a {
  color: var(--acc-2);

  &:hover,
  &:active {
    color:var(--acc-3);
  }
}

button {
  border-color: var(--pri-2);
  color: var(--fg-2);
  background-color: var(--bg-3);
}

//code.hljs {
//  background-color: var(--bg-3);
//}

hr {
  border: none;
  background-color: var(--pri-2);
}

div.meta-details {
  color: var(--pri-3);
}

blockquote {
  color: var(--fg-3);
  background-color: var(--bg-3);
}

table {
  th,
  td {
    border-color: var(--pri-1);
  }

  th {
    color: var(--fg-2);
  }
}

