$space-unit: 16px;
$space-unit-2x: $space-unit * 2;
$space-unit-4d: $space-unit / 4;
$space-unit-8d: $space-unit / 8;

html {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}

body {
  padding: $space-unit-2x;
  margin: auto;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 750px) {
  body {
    font-size: 12px;
    padding: 0;
    flex-direction: column;
  }
}

main {
  max-width: 800px;
}

main,
aside {
  margin: $space-unit-2x;
}

aside {
  white-space: nowrap;

  ul {
    list-style-type: none;
  }
}

button {
  border-radius: $space-unit-4d;
  border-width: $space-unit-8d;
  border-style: solid;
}

hr {
  border: none;
  height: $space-unit-8d;
}

div.article-listing {
  margin: $space-unit-2x 0;

  h1 {
    margin-bottom: 0;
  }
}

div.meta-details {
  display: flex;
  justify-content: space-between;
}

blockquote {

  padding: $space-unit;
  margin: $space-unit 0;

  p.annotation {
    font-weight: bold;
  }
}

code.inline {
  display: inline;
  padding: $space-unit-4d;
  font-size: 0.8rem;
}

table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    border-width: thin;
    border-style: solid;
  }
}

