
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Rubik:ital@0;1&display=swap');

body {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  a {
    color: inherit;
    text-decoration: none;

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;
}

blockquote {
  p.annotation {
    font-weight: bold;
  }
}

code {
  font-family: 'JetBrains Mono', monospace;
}
